<div [ngClass]="getClassName()">
  <mat-list [@listAnimation]="items.length">
    <mat-list-item class="ngstd-list-item" *ngFor="let item of items;let i = index">
      
      <div class="ngstd-delete-indicator">
        <i class="material-icons ngstd-delete-icon" *ngIf="getLeftSign()">delete_sweep</i>
        <span>&nbsp;</span>
        <i class="material-icons ngstd-delete-icon" *ngIf="numberOfDeleteIcon === 2 && !getLeftSign()">delete_sweep</i>
      </div>

      <div #elementRefrence class="ngstd-item-container "
        (panend)="panend($event, i, elementRefrence)" 
        (panmove)="panmove($event,elementRefrence)" 
        [@slideLeft]="ngstdIndexNumber === i"
        (@slideLeft.done)=alignComplete($event)
      >
        <ng-container *ngIf="listType === 'listwithimage'">
          <img matListAvatar src="{{item.img}}" alt="{{item.title}}">
          <div class="mat-list-text ngstd-details">
            <h3 matLine> {{item.title}}</h3>
            <p matLine>
              <span> {{item.description}} </span>
            </p>
          </div>
        </ng-container>
        <ng-container *ngIf="listType === 'listwithicon'">
          <mat-icon class="ngstd-icon" mat-list-icon>{{item.icon}}</mat-icon>
          <div class="mat-list-text ngstd-details">
            <h4 mat-line>{{item.title}}</h4>
            <p mat-line> {{item.description}} </p>
          </div>
        </ng-container>
        <ng-container *ngIf="listType === 'singleline'">
          <mat-list-item> {{item.title}} </mat-list-item>
        </ng-container>
        <ng-container *ngIf="listType === 'multiline'">
          <div class="mat-list-text ngstd-details">
            <h3 matLine> {{item.title}} </h3>
            <p matLine>
              <span> {{item.description}} </span>
              <span class="demo-2"> -- {{item.description}} </span>
            </p>
          </div>
        </ng-container>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>

